.nav-item a {
  font-size: 18px;
}

.main-card {
  transition: all 0.5s ease;
}

.main-card:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.product-img {
  transition: all 0.5s ease;
}

.product-img:hover {
  transform: scale(1.1);
  /* box-shadow: 5px 5px 5px rgb(255, 255, 255); */
}

.wishlistIcon {
  width: 17.5px;
  height: 17px;
  margin-left: auto;
}

.wishlistButton {
  width: 42px !important;
  margin-left: 450px;
}
